# Database
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=YOUR_DB_PASSWORD
DATABASE_NAME=hotel-booking
DATABASE_SYNC=true
DATABASE_AUTOLOAD=true

# JWT
JWT_SECRET=YOUR_JWT_SECRET
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=YOUR_REDIS_PASSWORD
 
 # Arvan Cloud Object Storage Configuration
ARVAN_ACCESS_KEY=your_access_key_here
ARVAN_SECRET_KEY=your_secret_key_here
ARVAN_ENDPOINT=https://s3.ir-thr-at1.arvanstorage.ir
ARVAN_BUCKET_NAME=hotel-reservation-images
ARVAN_REGION=ir-thr-at1